html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.projet-box {

    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.projet-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.projet-box .projet-detail-box{
    position: relative;
}


.projet-box .projet-detail-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0a0a0a;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0a0a0a;
    outline: none;
    background: transparent;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;


}

.projet-box .projet-detail-box label {
    left: 0;
    font-size: 16px;
    color: #6E6E6E;
    pointer-events: none;
    transition: .5s;
}
body{
    background-color: white;
}
.textColor{
    font-size: xx-large !important;
    color: darkblue !important;
}
tr {
    break-inside: avoid;
}

.row{
    width: 100% !important;
}
.shadow {
    box-shadow: 0 2px 2px -2px gray;
    height: 10%;
    padding:0;
}
/* define a fixed width for the entire menu */
.navigation {
    margin-left: 1%;
    width: 300px;
    height: auto;
    background-color: #d1d1d159;

}


a{
    text-decoration: none;
    color: black;
}

/* reset our lists to remove bullet points and padding */
.mainmenu {
    list-style: none;
    padding: 20px ;
    margin: 0;
}
.mainmenu li{
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;
}
/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: x-large;
}


/* add hover behaviour */
.mainmenu li:hover {
    background-color: #C5C5C5;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    width: 100%;
}



.submenu li {
    background-color: #999;
}

/* hover behaviour for links inside .submenu */
.submenu li:hover  {
    background-color: #666;
}
input{
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: x-large;
}
/* hover behaviour for links inside .submenu */
input#idBtn1:hover {
    background-color: #666 !important;
}
