body{
    background-color: white;
}
.textColor{
    font-size: xx-large !important;
    color: darkblue !important;
}
tr {
    break-inside: avoid;
}

.row{
    width: 100% !important;
}
.shadow {
    box-shadow: 0 2px 2px -2px gray;
    height: 10%;
    color: white;
    padding:0;
}
/* define a fixed width for the entire menu */
.navigation {
    margin-left: 1%;
    width: 300px;
    height: auto;
    background-color: #d1d1d159;

}
a{
    text-decoration: none;
    color: black;
}
/* reset our lists to remove bullet points and padding */
.mainmenu {
    list-style: none;
    padding: 20px ;
    margin: 0;
}
.mainmenu li{
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;
}
/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: x-large;
}


/* add hover behaviour */
.mainmenu li:hover {
    background-color: #C5C5C5;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    width: 100%;
}



.submenu li {
    background-color: #999;
}

/* hover behaviour for links inside .submenu */
.submenu li:hover  {
    background-color: #666;
}
input{
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: x-large;
}
/* hover behaviour for links inside .submenu */
input#idBtn1:hover {
    background-color: #666 !important;
}
input#idBtn2:hover {
    background-color: #666 !important;
}


a.morelink {
    text-decoration:none;
    outline: none;
    color:blue;
}
.morecontent span {
    display: none;
}

label {
    display: block;
    padding-left: 15px;
}
input {
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 19px;
    *overflow: hidden;
}