body{
    background-color: white;
}
.textColor{
    font-size: xx-large !important;
    color: darkblue !important;
}
tr {
    break-inside: avoid;
}

.row{
    width: 100% !important;
}
.shadow {
    box-shadow: 0 2px 2px -2px gray;
    height: 10%;
    color: white;
    padding:0;
}
/* define a fixed width for the entire menu */
.navigation {
    margin-left: 1%;
    width: 300px;
    height: auto;
    background-color: #d1d1d159;

}

/* reset our lists to remove bullet points and padding */
.mainmenu {
    list-style: none;
    padding: 20px ;
    margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}
a{
  text-decoration: none;
  color: black;
}


a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}

label {
    display: block;
    padding-left: 15px;
}
input {
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 19px;
    *overflow: hidden;
}